.courses-container {
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    min-height: 100vh;
  }
  
  .course-card {
    padding: 30px;
    border-radius: 16px;
    height: fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: #f8f8f0;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-title {
    font-size: 24px;
    font-weight: 700;
    color: #33691e;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .course-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  .course-button {
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    color: #333;
    background-color: #ffa726 !important; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
  }
  
  .course-button:hover {
    background-color: #f57c00;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .add-course-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .add-course-button {
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .add-course-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }