<div class="form-wrapper">
  <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="form-container">
    <mat-card class="form-card">
      <mat-card-title>Sign In</mat-card-title>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput name="password" formControlName="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="submit-button">
        Sign In
      </button>
    </mat-card>
  </form>
</div>