<div class="home-container">
  <mat-card class="home-card">
    <mat-card-title class="home-title">Discover Your Potential</mat-card-title>
    <mat-card-content class="home-content">
      <p class="home-description">
        Embark on a journey of learning and growth with our diverse range of online courses.
      </p>
      <div class="button-container">
        <button mat-raised-button class="home-button sign-in" (click)="SignIn()">Sign In</button>
        <button mat-raised-button class="home-button sign-up" (click)="SignUp()">Sign Up</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>