<div class="form-wrapper">
  <form [formGroup]="courseForm" (ngSubmit)="sent()" class="form-container">
      <mat-card class="form-card">
          <mat-card-title>{{ action }} Course</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>title</mat-label>
                <input matInput name="title" formControlName="title" type="text" required>
              </mat-form-field>
           
          
          <mat-form-field appearance="outline">
              <mat-label>description</mat-label>
              <input matInput name="description" formControlName="description" type="text" required>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
              <mat-label>teacherId</mat-label>
              <input matInput name="teacherId" formControlName="teacherId" type="text" required>
          </mat-form-field>
          
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" class="submit-button">
              {{ action }}            </button>
            
          </mat-card-actions>
      </mat-card>
  </form>
</div>
