<ul>
    @for(item of stude; track $index){
    <li>
      id : {{item.id}},
      firstName : {{item.name}},
      address : {{item.address}},
      phone : {{item.phone}},
      isActive : {{item.active}},
      marks :{{item.average}}
    </li>
    <button (click)="deleteStudent(item)">delete me</button>
    @if(item.DeleteStudent){
      <app-infromation-card select="[ngProjectAs='Card-design']"  [stud]="item" (DeleteStudent)="Delete($event)">

     </app-infromation-card>
    }
    <button (click)="updateStudent(item)">update me</button>
    @if(item.flag){
      <app-student-details [student]="item"></app-student-details>
    }
  
    }  
  
  </ul>  
  <button (click)="addStudent()">add me</button>
  @if(flagS){
    <app-new-student (SaveStudent)="saveStud($event)"></app-new-student>

  }
  
  
